<li class="special_link">
   <a href="/"><i class="fa fa-home"></i> <span class="nav-label">Trang chủ</span></a>
</li>
<li >
   <a href="/update"><i class="fa fa-database"></i> <span class="nav-label">Cập nhật thời khóa biểu</span></a>
</li>
<li >
   <a href="/"><i class="fa fa-search"></i> <span class="nav-label">Tra cứu thời khóa biểu</span></a>
</li>