<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TRANG CHỦ | Đăng Nhập</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">Xin chào!</h2>

                <p>
                    Đây là trang đăng nhập của KMA Schedule Web.
                </p>

                <p>
                    Để sử dụng dịch vụ của chúng tôi vui lòng đăng nhập Facebook.
                </p>

                <p>
                    Bằng cách nhấp vào logo facebook.
                </p>

                <p>
                    <small>Đăng nhập facebook chỉ để xác thực, chúng tôi cam kết không vi phạm điều khoản về dữ liệu facebook.</small>
                </p>

            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <form class="m-t" role="form" action="index.html">
                        
                        <a href="auth/facebook"><img height="300" width="300" src="https://facebookbrand.com/wp-content/themes/fb-branding/assets/images/fb-logo.png"/></a>
                    </form>
                    <p class="m-t">
                        <small>Bấm vào hình trên để đăng nhập&copy; 2018</small>
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Copyright Academy of Cryptography Techniques
            </div>
            <div class="col-md-6 text-right">
               <small>© 2018-2019</small>
            </div>
        </div>
    </div>

</body>

</html>
